:root {
	--bRadius1: 10px; 
	--bWidth1: 3.4px;
}

.dashboard {
	width: 75%;
	height: 80vh;
	background-color: var(--color2);
	display: flex;
	flex-direction: row;
	border-radius: var(--bRadius1);
	color: var(--color1);
}

.dashboard .features {
	border-radius: var(--bRadius1) 0 0 var(--bRadius1);
}


.dashboard .space{
	border-radius: 0px var(--bRadius1) var(--bRadius1) 0;
}

.features {
	flex: 3;
	background-color: var(--color5);
	border: var(--bWidth1) solid var(--color2);
}

.features ul {
}

.features li {
	width: 100%;
	border-bottom: var(--bWidth1) solid var(--color2);
	font-size: 2.75vh;
	padding: 2vh 0;
	list-style: none;
	text-align: center; 
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s; 
}

.features li:hover {
	background-color: var(--color2); 
	color: #FFFDD0;
}

.space {
	flex: 10;
	background-color: var(--color5);
	border: var(--bWidth1) solid var(--color2);
	border-left: 0px;
}










